build/
build-*/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/bench-slope-gcrypt
src/bench-slope-nettle
src/bench-slope-openssl
src/bench-slope-botan
src/*.o
stamp-h1
*~
